<%= render 'nav' %>

<%= render 'result' %>

<h1>Welcome to no paid tour guide app</h1>

<p>Welcome:</p>
<%= @current_user.firstname %> <%= @current_user.lastname %>

<% if @tour_guide %>
  <p>You are now a tour guide.</p>
<% end %>

<% if @tour_guide == false %>
  <p>You are currently not a tour guide.</p>
<% end %> 

<div id='demo'></div>

<input type="submit" value="Your coordinates" onclick=getLocation()>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5E_WnVSBNz5it07jKXOsoKdSlSOdtiB0">
</script>

<script>

document.onload = function initialize() {
    var geocoder = new google.maps.Geocoder();
    }

var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function codeLatLng(latitude, longitude){
	var geocoder = new google.maps.Geocoder();
	var latlng = new google.maps.LatLng(latitude, longitude);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
      	var locationInfo = document.getElementById("demo");
      	locationInfo.innerHTML=results[4].formatted_address;
        var address = results[4].formatted_address;
        delivery(address);
      } else {
        alert("Geocoder failed due to: " + status);
      }
    });
}

function showPosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude; 
    codeLatLng(latitude, longitude);
}

function delivery(address){
$.ajax({
    type: "POST",
    url: "/nearby_guides",
    data: "address=" + address,
    success: function (json){
      console.log("ajax sent");
    for (var i = 0; i <= json.length - 1; i++) {

      newdiv = document.createElement('div');
      divClassName = 'result';
      newdiv.setAttribute('class',divClassName);
      newdiv.innerHTML = json[i].firstname;
      document.body.appendChild(newdiv);

      newdiv = document.createElement('div');
      divClassName = 'result';
      newdiv.setAttribute('class',divClassName);
      newdiv.innerHTML = json[i].lastname;
      document.body.appendChild(newdiv);

      newdiv = document.createElement('div');
      divClassName = 'result';
      newdiv.setAttribute('class',divClassName);
      newdiv.innerHTML = json[i].bio;
      document.body.appendChild(newdiv);

      newdiv = document.createElement('div');
      divClassName = 'result';
      newdiv.setAttribute('class',divClassName);
      newdiv.innerHTML = "<a href='#' onclick=showUser(" + json[i].id + ")>click</a>";
      document.body.appendChild(newdiv);

      }   
    },
    failure: function(){
      console.log("ajax failed");
    },
    dataType: "json"
  });
}

function showUser(id) {
  $.ajax({
    type: "POST",
    url: "/single_person",
    data: "user_id=" + id,
    success: function(json) {
      console.log('received');
    },
    failure: function() {
      console.og('fail');
    } 
  });
}

</script>
<div id='text'></div>